@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello world from windows server 2022.
        I hope the task is perfectly completed.
        This is updated code.
    </p>
</div>
